body {
    background-color:rgb(102, 133, 102);
    background-image: url(images/food-fruit-backgrounds-powerpoint-1390967537.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}

header {
    /*background-color: blue;*/
    height: 118px;
    text-align: center;
}

nav {
    background-color: #00000046;
    height: 20px;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
}

main {
    /*background-color: orange;*/
    height: 350px;
    text-align: center;
    padding-top: 70px;
    padding-left: 240px;
    padding-right: 240px;
}

footer {
    background-color: rgba(5, 4, 4, 0.089);
    height: 100px;
}

h1 {
    font-size: 84px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

p {
    font-size: 18px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    /* text-decoration: none; */
}
nav a {
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}

footer p {
    font-size: 10px;
    text-align: center;
    color: white;
    padding-top: 14px;
}

.maps {
    padding-bottom: 100px;
}